.h
{
  background:linear-gradient(to bottom, #ffdf80 0%, #997300 100%);
  position: fixed;
  width: 100%;
}

.img1
{
  margin-right: 10px;
  padding-left: 50px;
  padding-top: 10px;
  width: 150px;
  height:150px;
}

.img2
{
  top: 0px;
  float: right;
  width: 60px;
  height: 60px;
}

.header
{
  position: fixed;
  top: 20px;
  left: 580px;
  font-size: 50;
  font-family: Britannic;
  text-align: center;
}

.login
{
  top: 0px;
  text-decoration: none;
  float: right;
  padding: 15px;
  font-size: 20px;
}

.reg
{
  top: 0px;
  text-decoration: none;
  float: right;
  padding: 15px;
  font-size: 20px;
  padding-right: 0;
}

.menubar
{
  list-style-type: none;
  text-align: center;
  background-color: #5A5A5A;
  padding: 10px;
  width: 900px;
  margin: 0 auto;
}

.menubar li
{

  display: inline-block;
}

.menubar li a
{
  text-decoration: none;
  padding-right: 30px;
  font-size: 15;
  color: whitesmoke;
}

.active
{
  background-color: #333333;
  padding: 10px;
}

.footer
{
  text-align: center;
  background-color: black;
  color: whitesmoke;
  padding: 20px;
  font-size: 20px;
}

.content
{
  padding-top: 200px;

}


.h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bolder ;
  

}

input[type=text] {
  width:40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color:green ;
  border-style:solid ;
  padding-inline-start: ;

  }
input[type=text]:focus {
  border: 3px solid #555;
}

.questions_page textarea{
border-color:green ;
  border-style:solid ;

}
.questions_page{
  padding-left:500px ;
  width:600px ;
  padding-right: 30px;
  background-color:white;
  margin:0;
  
}
.questions_page label{

   font-family: Arial, Helvetica, sans-serif;
  font-weight:bolder ;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 

}
input[type="button"]{

   width:20%;
  padding: 12px 20px;
  padding-inline-start: ;
  background-color:green ;

}.update_page textarea{
border-color:green ;
  border-style:solid ;

}
.update_page{
  padding-left:500px ;
  width:600px ;
  padding-right: 30px;
  background-color:white;
  margin:0;
  
}
.update_page label{

   font-family: Arial, Helvetica, sans-serif;
  font-weight:bolder ;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 

}